.PitScoutMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  color: var(--text-gray);
}

.PitScoutMain h1 {
  margin-top: 56px;
  font-size: 29px;
  font-weight: 400;
}

.PitScoutMain .InputBox {
  width: 80vw;
  height: 54px;
}

.PitScoutMain p {
  font-weight: 400;
  font-size: 19px;
}

.PitScoutMain .LabeledComponent:first-of-type {
  margin-top: 31px;
}

.PitScoutMain .LabeledComponent {
  margin-top: 16px;
  width: 80vw;
}

.PitScoutMain .LabeledComponent p {
  margin-bottom: 9px;
}

.PitScoutMain > .SmallButton {
  margin-top: 35px;
  margin-bottom: 20px;
}

.PitScoutMain .LabeledComponent .SmallButton,
.PitScoutMain .LabeledComponent .CommentBox {
  width: 100%;
}

.PitScoutMain textarea {
  width: 100%;
}
