.MatchMain {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.MatchMain > p {
  margin-top: 130px;
  font-size: 37px;
  color: var(--text-gray);
}

.MatchMain > .LargeButton:first-of-type {
  margin-top: 39px;
}

.MatchMain > .LargeButton {
  margin-top: 29px;
}

.MatchMain > .CommentBox {
  margin-top: 53px;
}

.MatchMain > .SmallButton {
  margin-top: 16px;
}
