.MatchScout {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.MatchScout > p {
  margin-top: 130px;
  font-size: 37px;
  color: var(--text-gray);
}
