.Slider {
  width: 200px;
  height: 20px;
  border-radius: 10px;
  background: #d3d3d3;
  outline: none;
  appearance: none;
  margin: 35px 0 0 0;
}

.Slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  opacity: 1;
  background: #2e2c2c;
  cursor: pointer;
}
