.SmallButton {
  box-sizing: border-box;
  border: 3px solid var(--text-gray);
  border-radius: 10px;
  width: 155px;
  height: 41px;
  font-size: 18px;
  display: grid;
  place-content: center;
  color: var(--text-gray);
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
